.header {
  width: 100%;
}

.image {
  width: 100%;
  height: 30%;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.wrapper > * {
  margin: 20px;
}

.box {
  width: 200px;
  height: 200px;
}
